extends ../templates/layout

block content
  link(rel="stylesheet", href="/css/style.css")
  
  h1 Lista de Autores por País

  form(action="/autor" method="GET")
    label(for="pais") Selecciona un país:
    select(name="pais" id="pais" onchange="this.form.submit()")
      option(value="") Todos
      each pais in paises
        // Resaltar el país seleccionado
        option(value=pais selected=(pais === selectedPais))= pais

  table
    thead
      tr
        th Id Autor
        th Nombre
        th País
        th Acciones
    tbody
      if autores.length > 0
        each autor in autores
          tr
            td= autor.ID_AUTOR
            td= autor.NOMBRE
            td= autor.PAIS
            td
              a(href=`/autor-edit/${autor.ID_AUTOR}`) Editar
              span | 
              a(href=`/autor-delete/${autor.ID_AUTOR}`) Eliminar
      else
        tr
          td(colspan="4") No hay autores para el país seleccionado.

  p
    a(href='/autor-add') Agregar Nuevo Autor


