extends ../templates/layout

block content
    h1 Lista de Autores
    table
      thead
        tr
          th ID_Autor
          th Nombre
          th Pais
          th Acciones
      tbody
        each autor in autor
          tr
            td= autor.id_autor
            td= autor.nombre
            td= autor.pias
            td
              a(href=`/autor-edit/${autor.id_autor}`) Editar
              span | 
              a(href=`/autor-delete/${autor .id_autor}`) Eliminar
    p
      a(href='/autor-add') Agregar Nuevo Alumno

    h2 Maestro detalle: Libros escritos por un autor
    
    label(for="libros")
    select(name="libros", id="libros", onchange="location = '/libros/' + this.value;")