extends ../templates/layout

block content
  link(rel="stylesheet", href="/css/style.css")
  
  h1 Lista de Autores
  table
    thead
      tr
        th Id Autor
        th Nombre
        th Pais
        th Acciones
    tbody
      each autor in autores 
        tr
          td= autor.ID_AUTOR
          td= autor.NOMBRE
          td= autor.PAIS
          td
            a(href=`/autor-edit/${autor.ID_AUTOR}`) Editar
            span | 
            a(href=`/autor-delete/${autor.ID_AUTOR}`) Eliminar
  p
    a(href='/autor-add') Agregar Nuevo Autor

  h2 Maestro detalle: Libros escritos por un autor
  label(for="libros") Seleccione un libro:
  select(name="libros", id="libros", onchange="location = '/libro/libro/' + this.value;")
    option(value="") -- Seleccione un autor --
    if autores && autores.length
      each autor in autores
        option(value=autor.ID_AUTOR)= autor.NOMBRE
  br
  a(href='/') Volver a la Lista

