extends ../templates/layout

block content
    link(rel="stylesheet", href="/css/style.css")
    
    h1 Lista de Libros 
    table 
        thead 
            tr 
                th Id Libro 
                th Titulo 
                th Fecha de Publicacion
                th Precio 
        tbody 
            each libro in libros 
                tr 
                    td= libro.ID_LIBRO 
                    td= libro.TITULO 
                    td= libro.FECHA_PUBLICACION 
                    td= libro.PRECIO 
                    td 
                        a(href=`/libro-edit/${libro.ID_LIBRO}`) Editar libro
                        span 
                        a(href=`/libro-delete/${libro.ID_LIBRO}`) Eliminar libro
    p 
        a(href='/libro-add') Agregar nuevo libro